/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

.shadow {
    box-shadow: 4px 10px 4px 10px #9999;
}

.agenda {
    background-color: var(--darker-green);
    text-align: center;
}

.login {
    background-color: var(--darker-red);
}

.footer {
    background-color: var(--darker-orange);  
}

.dishes {
    background-color: var(--kahki);
}

.center {   
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right {   
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
}

input[type=text] {
    width:180px;
  }

.imgfoods {
    max-height: 250px;
    
}

.imgfood {
    max-height: 600px;
}


.likebutton {
    background-color: transparent;
    font-family: pretty_lilyregular;
    font-size: 50px;
    color: var(--lighter-red);
    text-decoration: none;
    position: relative;
    display: inline-block;
    left: 60%;
}


.smulbutton {
    background-color: var(--lighter-red);
    font-family: pretty_lilyregular;
    font-size: 40px;
    color: #FFF;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    position: relative;
    left: 5%;
}


.listbutton {
    background-color: var(--lighter-red);
    font-family: pretty_lilyregular;
    font-size: 40px;
    color: #FFF;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
}


.loginbutton{
    background-color: var(--lighter-orange);
    width: 140px;
    height: 40px;
    font-family: pretty_lilyregular;
    font-size: 28px;
    color: #FFF;
    border-radius: 10px;
    border-width: 0px;
}

.logintext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFF;
}

.topnav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

.row-eq-heightw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    width: 81.25%
    
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;   
}

.center-row {
align-items: center; 
display: flex; 
justify-content: center;
}

.imguser {
    object-fit: cover; 
    height:100px;
    width:100px;
    border-radius: 50px; 
    border:4px solid var(--lighter-orange);
    
}

.text-amount {
    color:var(--darker-green); 
    font-family: pretty_lilyregular;
    font-size: 20px;
    
}

.center-start {
    align-items: center; 
    display: flex; 
   
}

.number-back{
    height: 70px;
    width:70px;
    border-radius: 35px; 
    background-color: var(--lighter-orange);
    color: #FFF;
    text-align: center;
}

.checked-star {
    color: orange;
    
  }