<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/homepage.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                <div class="row">
                <ul class="nav">{# top menu #}
                    <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Who are we</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#">Products</a>
                    </li>
                    <li class="nav-item dropdown ml-md-auto">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider">
                        </div> <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    </li>
                </ul>
        </div>
        {% block header %}
            
        {% endblock %}   
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 agenda">
           <div class="row">
            <h2>Agenda</h2>
            <i class="fa fa-calendar"></i> FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
            <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a>
            </div>
            <div class="row" style="position: relative; top: 50%;">
             <img src="assets/img/verrukkulluk-login.png"style="width: 150px; heigfht: 100px;"/>
             
            </div>
        </div>
        <div class="col-md-9">
            <h2>Content</h2>
            {%  block content %}


            {%  endblock %}
        </div>
    </div>


    <div class="row footer">
        
         
        <div class="col-md-2">
        <img src="assets/img/verrukkulluk-pay-off.png"style="width: 100px; heigfht: 100px;"/>
        </div>
        <div class="col-md-10">
        <img src="assets/img/verrukkulluk-contact.png"style="width: 100px; heigfht: 100px;"/>

           <p>Verrukkulluk.nl </p>
           <p>Poststraat 2b </p>
           <p>Sittard </p>
           <p>info@verrukkulluk.nl </p>
        </div>
        
    </div>


</div>

</body>
