<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/homepage.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
<div class="container-fluid">

        <div class="row">
                
        {% block header %}
            
        {% endblock %}   
        </div>
    

    <div class="row">
        
        <div class="col-md-3 row-eq-height">
            
            <div class="container">
            <div class="row p-3">
               <div class="border agenda" >
                <h2>Agenda</h2>
                <i class="fa fa-calendar" style"background-color: #FFF;"></i> FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
                <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a>
                </div>
            </div>

            <div class="row p-3">
                <div class="container border login">
                <img src="assets/img/verrukkulluk-login.png" style="hight:100px;width:150px;"/>

                <form>
                    <label>Email:</label><br>
                    <input type="text" id="email" name="email"><br>
                    <label>Password</label><br>
                    <input type="text" id="password" name="password"><br>
                    <input type="button" name="loginbutton" value="Login">
                </form>
                </div>
            </div>
            </div>
            
        </div>
        

        <div class="col-md-9 row-eq-height">
            {%  block content %}


            {%  endblock %}
        </div>
    </div>


    <div class="row footer">
        
         
        <div class="col-md-2">
        <img src="assets/img/verrukkulluk-pay-off.png"class="img-fluid" alt="Responsive image"/>
        </div>
        <div class="col-md-2">
        <img src="assets/img/verrukkulluk-contact.png"class="img-fluid" alt="Responsive image"/>

           <i>Verrukkulluk.nl </i>
           <i>Poststraat 2b </i>
           <i>Sittard </i>
           <i>info@verrukkulluk.nl </i>
        </div>
        
    </div>


</div>

</body>
