<html lang="nl">

<head>
    
    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
   {# <link rel="stylesheet" type="text/css" href="assets/css/homepage.css" />#}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


        <script>{#send star rating data#}
             //header('Content-Type: application/json; charset=utf-8');
             $(document).ready(function() {
                /// on click star send to database and show stars
                $(".stars").one("click",function() {
                 const value_ = $(this).attr('data-value')//get star value
                 const id_ = $(this).attr('data-id')//get dish id

                /// make stars black
                $(".detail-star").each((index,elem) =>{
                    const itemValue = $(elem).attr('data-value')
                    if(itemValue <= value_){
                    $(elem).addClass('black_') 
                }
                })
                 
                /// send rating to server
                $.ajax({
                url: "http://localhost/educom-verrukkulluk/index.php",
                method: "GET",
                data: {gerecht_id:id_,action:"addRating",rating:value_}, ///dish id, action , rating value
                    })

                $(".stars").off("click");// one time click       
                })

                //on click update price amount and total amount
                $(".check-button").click(function(){
                    const id_ = $(this).attr('art-id');// get some variables
                    const amount = $("#amount"+id_).val();
                    const cost = $(this).attr('art-price');
                    
                    $("#price"+id_).text((amount*cost/100).toFixed(2));//calculate new price and show
                    
                    var mvar = 0;//calcuate new total price
                    $(".priceArt").each(function() {
                        mvar += parseFloat($(this).text());
                    });
                    $("#total").text(mvar.toFixed(2));
                });

                // on click delete artikel
                $(".delete-button").click(function(){
                    const id_ = $(this).attr('art-id');
                     $("#row"+id_).remove();// remove artikel row

                    var mvar = 0;//calcuate new total price
                    $(".priceArt").each(function() {
                        mvar += parseFloat($(this).text());
                    });
                    $("#total").text(mvar.toFixed(2));
                });
                // on click delete or add like
                $(".likebutton").click(function(){// change like on click
                    const like = $(this).attr("liked");// get state like
                    const id_ = $(this).attr('data-id')//get dish id
                    if (like == "0"){//like not active set active
                        $(".likebutton").removeClass("like-deactive").addClass("gold_ like-active")
                        $(this).attr("liked", "1");
                        $.ajax({
                        url: "http://localhost/educom-verrukkulluk/index.php",
                        method: "GET",
                        data: {gerecht_id:id_,action:"addLike"}, ///send dish is and action to index
                        })

                    }else{//like active then deactivate
                        $(".likebutton").removeClass("gold_ like-active").addClass("like-deactive")
                        $(this).attr("liked", "0");
                        $.ajax({
                        url: "http://localhost/educom-verrukkulluk/index.php",
                        method: "GET",
                        data: {gerecht_id:id_,action:"delLike"}, ///send dish is and action to index
                        })

                    }
                });

                $(".search").keyup(function() {
                const text = $(".search").val(); 
                $.ajax({
                        url: "http://localhost/educom-verrukkulluk/index.php",
                        method: "GET",
                        data: {search:text,action:"search"}, ///send dish is and action to index
                    })

                alert(text);
                });

            
            })
        </script>

</html>
<body>
<div class="container-fluid">
   
       
        {#........header.............................................................................#}      
        {% block header %}
            <div class="row">
                {#head section with picture, searchbar and links#}
                <div class="col-md-12 " style="height:400px">
                <div style="background-image: url('assets/img/food.jpg'); object-fit: cover; height:100%;">
                <div class="topnav" >
                            <input type="text" class="search" placeholder="Search.." data="{{data}}">
                            <a class="links " href="#placehold">&#9776</a>
                        </div>
                        <img src="assets/img/logo-v2.png" style=" width:400px "/> 
                </div>
                </div>
            </div>
        {% endblock %}   
        
    

    <div class="row">
        {#.......mid left..............................................................................#}
        <div class="col-md-4 row-eq-height">
            {#soe agenda points#}
            <div class="container">
            <div class="row p-3">
               <div class="border agenda shadow" >
                <h1>Agenda</h1>
                {% for i in 0..4 %}
                <i class="far fa-calendar-alt" style="font-size: 40px;"> </i>
                <i style="font-size: 40px;font-family: pretty_lilyregular;">Vegan koken</i> <br>
                <i style="font-size: 14px;"> Een Workshop veganistisch koken met melk, onder leiding van Tim broekmans.</i><br><br>
                {% endfor %}
                
                
                </div>
            </div>
        {#.......mid left..............................................................................#}
            <div class="row p-3">
                <div class="container border login shadow">
                {#make login part#}
                <img src="assets/img/verrukkulluk-login.png" style="hight:100px;width:150px;top:20%;"class="center"/>

                <form class="">
                    <label class="logintext">Email:</label><br>
                    <input type="text" id="email" name="email"><br>
                    <label class="logintext">Password</label><br>
                    <input type="text" id="password" name="password"><br><br>
                    <input type="button" name="loginbutton" value="Login" class="loginbutton center">
                </form>
                </div>
            </div>
            </div>
            
        </div>
        
        {#......mid right...............................................................................#}
        <div class="col-md-8 row-eq-height">
            {%  block content %}


            {%  endblock %}
        </div>
    </div>

        {#......footer...............................................................................#}
    <div class="row footer">
        
         {#show logo, contract and adress#}
        <div class="col-md-2" style="height:300px;">
        <img src="assets/img/verrukkulluk-pay-off.png"style=" width:100px; top:20%;" class="center"/>
        </div>
        <div class="col-md-2" style="max-width:150px">
        <img src="assets/img/verrukkulluk-contact.png"style=" width:150px "/>

           <i>Verrukkulluk.nl </i>
           <i>Poststraat 2b Sittard</i>
           <i>info@verrukkulluk.nl </i><br><br>
        </div>
        
    </div>


</div>

</body>
