{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="row">
<div class="col-md-12 " style="background-image: url('assets/img/food.jpg');">
 <div class="topnav">
             <input type="text" placeholder="Search..">
               <a href="#placehold">Placehold</a>
        </div>
         <img src="assets/img/logo-v2.png" style=" width:400px "/> 
</div>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}

<div class="row">

     <div class="col-md-12 p-3 row-eq-heightw">
     <div class="border dishes shadow" >
          placeholder...
   
    </div>
    </div>

</div>


 
{% endblock %}